:root {
    --accent-color: #B6202B;
}

body {
    margin: 0;
    font-family: "Libre Franklin", sans-serif;
}

nav {
    position: sticky;
    top: 0;
    width: 100%;
    left: 0;
    right: 0;
    height: 64px;
    display: flex;
    align-items: center;
    background-color: #eee;
    padding: 0 16px;
    box-sizing: border-box;
    z-index: 10;
}

.nav-logo {
    width: 48px;
    height: 48px;
    display: block;
}

.nav-title {
    font-weight: 700;
    margin-left: 16px;
    font-size: 20px;
}

.nav-button {
    background-color: var(--accent-color);
    display: block;
    color: white;
    font-weight: 700;
    letter-spacing: 1px;
    text-transform: uppercase;
    margin-left: auto;
    text-decoration: none;
    font-size: 16px;
    padding: 4px 8px;
}

@media (min-width: 700px) {
    nav {
        height: 96px;
    }

    .nav-logo {
        width: 64px;
        height: 64px;
    }

    .nav-title {
        font-size: 28px;
        margin-left: 24px;
    }

    .nav-button {
        font-size: 20px;
        padding: 8px 16px;
    }
}

.hero-right {
    order: 2;
    width: 100%;
}

.hero-left {
    background-color: #222;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 48px 24px;
}

@media (min-width: 900px) {
    .hero, .home-container {
        display: flex;
    }

    .home-container {
        max-width: 1200px;
        margin: 0 auto;
    }

    .home-left {
        width: 67%;
        box-sizing: border-box;
        padding-right: 32px;
    }

    .home-right {
        width: 33%;
        box-sizing: border-box;
    }

    .hero-left {
        order: 1;
        width: 33%;
        box-sizing: border-box;
        flex-shrink: 0;
    }

    .hero-right {
        object-fit: cover;
        width: 67%;
        object-position: center center;
        height: calc(100vh - 96px);
    }
}

.home-container {
    padding: 48px 24px;
}

.h-uppercase {
    text-transform: uppercase;
    font-weight: 700;
    font-size: 18px;
    letter-spacing: 1px;
    margin-top: 48px;
}

p, h1 {
    margin: 0;
}

.p-content {
    font-size: 20px;
    line-height: 1.5;
}

.article-item {
    margin: 32px 0;
    display: flex;
    align-items: center;
}

h3.article-title {
    margin: 12px 0;
}

h3.article-title, .article-title a {
    font-weight: 500;
    text-decoration: none;
    font-size: 18px;
    color: #222;
}

.article-category {
    text-decoration: none;
    color: var(--accent-color);
    font-weight: 700;
    font-size: 14px;
    margin-right: 8px;
}

.article-date, .single-date {
    font-size: 14px;
    color: #666;
    font-weight: 500;
}

img.article-image {
    width: 120px;
    height: 120px;
    object-fit: cover;
    flex-shrink: 0;
    margin-right: 24px;
}

@media(min-width: 700px) {
    img.article-image {
        width: 240px;
        height: 240px;
    }

    .article-date, .article-category, .single-date {
        font-size: 20px;
    }

    h3.article-title, .article-title a {
        font-size: 28px;
    }
}

.container, .post-container {
    max-width: 800px;
    margin: 0 auto;
    padding: 48px 24px;
}

.post-container p {
    line-height: 1.5;
    font-size: 18px;
    margin: 24px 0;
}

.post-container a {
    color: var(--accent-color);
}

.single-title {
    color: #222;
    margin: 16px 0;
}